body{
 background-image: linear-gradient(to bottom, #490A04, #2D0908) ;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
    color:white;
    position: relative;
    overflow-x: hidden;
    font-family: 'Teko', sans-serif;
}
#title{
    display: inline;
    position: relative;
    font-size: 90px;
}
#title::before{
    content: '';
    position: absolute;
    top: 35%;
    left: -60;
    width: 40px;
    height: 40px;
    background: white;
    transform: rotate(45deg);
}
#title::after{
    content: '';
    position: absolute;
    top: 35%;
    right: -68;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background: white;
}
#container{
    width: 100vw;
    text-align: center;
}
#container p{
    font-size: 50px;
}
#button{
    font-size: 50px;
    border-radius: 10px;
    padding: 5px 5px;
    color: white;
    font-family: 'Teko', sans-serif;
    transition: all;
    background:linear-gradient(to bottom, #490A04, #2D0908);
}
#button:active{
    border: rgb(243, 2, 2) 1px solid;
}
#highscore{
    position: fixed;
    bottom:0;
    font-size: 40px;
}
#score{
    margin-bottom: -40;
}
@media screen and (max-width: 800px){
    #highscore{
        font-size: 25px;
    }
    #container h1{
        font-size: 50px;
    }
    #container p{
        font-size: 30px;
    }
}
@media screen and (max-width: 500px){
    #contaier h1{
        font-size: 40px;
    }
    #title::before{
        width: 35px;
        height: 35px;
        left: -45;
    }
    #title::after{
        width: 35px;
        height: 35px;
        right: -48;
    }
}