body{
 background-image: linear-gradient(to bottom, #490A04, #2D0908) ;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
    color:white;
    position: relative;
    overflow-x: hidden;
    font-family: 'Teko', sans-serif;
}
#title{
    display: inline;
    position: relative;
    font-size: 90px;
    top:-110;
    animation-name: title;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 500ms;
    animation-duration: 500ms;
}
#title::before{
    content: '';
    position: absolute;
    top: 35%;
    transform: rotate(45deg);
    left: -60;
    width: 40px;
    height: 40px;
    background: white;
}
#title::after{
    content: '';
    position: absolute;
    top: 35%;
    transform: rotate(45deg);
    right: -60;
    width: 40px;
    height: 40px;
    background: white;
}
#container{
    width: 100vw;
    text-align: center;
}
#container p{
    font-size: 50px;
    opacity:0%;
}
#odd{
    animation-name: second;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-delay:2s;
}
#wincondition{
    animation-name: third;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-delay: 4s;
}
#button{
    font-size: 50px;
    border-radius: 10px;
    padding: 5px 5px;
    color: white;
    font-family: 'Teko', sans-serif;
    transition: all;
    animation-name: fourth;
    transform:translateX(1000px);
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    animation-delay: 6s;
}
#button:active{
    border: rgb(243, 2, 2) 1px solid;
}
#highscore{
    position: fixed;
    bottom:-90;
    font-size: 40px;
    animation-name: fifth;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
   animation-delay: 7.5s;
}
#score{
    margin-bottom: -40;
}
@media screen and (max-width: 800px){
    #highscore{
        font-size: 25px;
    }
    #container h1{
        font-size: 50px;
    }
    #container p{
        font-size: 30px;
    }
}
@media screen and (max-width: 500px){
    #contaier h1{
        font-size: 40px;
    }
    #title::before{
        width: 35px;
        height: 35px;
        left: -50;
    }
    #title::after{
        width: 35px;
        height: 35px;
        right: -50;
    }
}
@keyframes title {
    100% {
        top: 0;
    }
}
@keyframes second {
    33% {
        opacity: 33%;
    }

    66% {
        opacity: 66%;
    }

    100% {
        opacity: 100%;
    }
}
@keyframes third {
    33% {
        opacity: 33%;
    }

    66% {
        opacity: 66%;
    }

    100% {
        opacity: 100%;
    }
}
@keyframes fourth {
    33% {
        transform: translateX(800px);
        background-color: black;
    }

    66% {
        background-color: black;
    }

    100% {
        transform: translateX(0);
        background: linear-gradient(to bottom, #490A04, #2D0908);
    }
}
@keyframes fifth {
    100% {
        bottom: 0;
    }
}